In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

# File type preprocessing

## Merge month data

In [15]:
# List of files
files = ["AGO2020", 
         "SEP2020", 
         "OCT2020", 
         "NOV2020", 
         "DIC2020", 
         "ENE2021", 
         "FEB2021",
         "MAR2021"]

In [16]:
# File merge function
def merge_data(files):
    df = pd.DataFrame()
    for file in files:
        data = pd.read_csv("../data/original/"+file+".csv", sep=";")
        df = pd.concat([df, data])
    df = df.fillna(method="ffill")
    return df.dropna()

In [17]:
min_data = merge_data(files)
min_data.to_csv("../data/merged/min_data.csv")
min_data

,Timestamp,POZ_PIT_1501A,POZ_PIT_1401B,POZ_PIT_1400A,POZ_PIT_1400B
7,1/08/2020 0:31,"2004,4","2004,4","192,82","192,92"
8,1/08/2020 0:31,"2004,4","2008,79","192,82","192,92"
9,1/08/2020 0:31,"2007,33","2008,79","192,82","192,92"
10,1/08/2020 0:31,"2007,33","2008,79","192,82","193,41"
11,1/08/2020 0:31,"2008,06","2008,79","192,82","193,41"
...,...,...,...,...,...
481012,31/03/2021 0:28,"272,53","270,33","268,57","268,62"
481013,31/03/2021 0:28,"272,53","270,33","268,42","268,62"
481014,31/03/2021 0:29,"272,53","270,33","268,57","268,62"
481015,31/03/2021 0:29,"271,79","270,33","268,57","268,62"
481016,31/03/2021 0:29,"271,79","270,33","268,42","268,62"

## Xlsx to csv daily data

In [18]:
daily_data = pd.read_excel("../data/original/Consumo en BTU de las bombas con su respectiva estampa.xlsx")
daily_data.to_csv("../data/merged/daily_data.csv")
daily_data

,Fecha,POZ_PIT_1501A,POZ_PIT_1401B,POZ_PIT_1400A,POZ_PIT_1400B,Volumen Transportado [bls],Consumo Bombas [MBTU]
0,2020-01-01,1789.74,134.800,136.12,1789.74,93329.61,881.534544
1,2020-01-02,1793.41,131.870,134.21,1794.87,33657.95,294.595350
2,2020-01-03,1794.14,165.810,133.04,1793.41,124189.17,1117.872203
3,2020-01-04,1793.41,165.080,133.63,1793.41,129792.87,1177.994421
4,2020-01-05,1788.28,152.870,134.07,1791.94,112287.47,990.415915
...,...,...,...,...,...,...,...
514,2021-06-23,164.10,126.960,127.18,162.64,136741.42,1201.725920
515,2021-06-24,162.64,127.840,127.77,163.37,33957.64,315.538578
516,2021-06-25,161.90,126.810,127.03,161.90,102655.12,935.277430
517,2021-06-26,158.97,126.595,126.89,158.24,59471.70,553.822562
518,2021-06-27,156.78,126.520,126.30,155.31,62380.82,588.960344